html {
  background: rgb(29, 67, 235);
}

#home, #aboutUs {
  font-family: font79357;
  text-align: center;
  color: rgb(228, 194, 3);
  font-size:  30px;
  margin-left: 350px;
  margin-right:40px;
}

h2 {
  text-decoration: underline;
  font-family: font79357;

}

body {
  color: white;
}

li {
  list-style-position: inside;
  font-family: 'Courier New', Courier, monospace;
}

main {
  font-family: font79357;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
}

