html {
  background: rgb(29, 67, 235);
}

header {
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px black;
}
@font-face {
  font-family: gyparody;
  src: url(gyparody.ttf);
}

#logo {
  font-size: 150px;
  font-family: gyparody;
  color: rgb(228, 194, 3);
  text-shadow: 5px 5px black;
}


a {
  text-decoration: none;
  text-shadow: none;
  border: 2px solid black;
  font-family: font79357;
  text-align: center;
  color: rgb(228, 194, 3);
  border-radius: 4px;
  font-size:  24px;
  padding: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
 }

 a:hover {
  padding: 8px;
  color: black;
  background-color: rgb(228, 194, 3);
 }

nav{
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}


h2 {
  text-decoration: underline;
  font-family: font79357;
  text-shadow: 2px 2px black;
}

body {
  color: white;
}

li {
  list-style-position: inside;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 2px 2px black;
}

main {
  font-family: font79357;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
}

footer {
  text-align: center;
  color: rgb(228, 194, 3);
  font-family: font79357;
  bottom: 0px;
  text-shadow: 2px 2px black;
}

footer p {
    margin-top: 350px;
}
#yourscore{
  z-index: 20;
  background-color: chartreuse;
  height:100%;
  width: 100%;

}

