html {
  background: rgb(29, 67, 235);
}

body {
  font-family: font79357;
  text-shadow: 5px 5px black;
}

header {
  width: 100%;
  text-align: center;
}

#logo {
  font-size: 150px;
  font-family: 'gyparody';
  color: rgb(228, 194, 3);
  text-shadow: 5px 5px black;
}

nav {
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}
a {
  text-decoration: none;
  text-shadow: none;
  border: 2px solid black;
}

#highScores, #aboutUs {
  font-family: font79357;
  text-align: center;
  color: rgb(228, 194, 3);
  border-radius: 4px;
  font-size:  24px;
  padding: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

#highScores:hover,
#aboutUs:hover {
  padding: 8px;
  color: black;
  background-color: rgb(228, 194, 3);
}
   
.category1{
  display:inline-block;
  position:relative;
  width:24%;
  text-shadow: 5px 5px black;
}

.category2{
  display:inline-block;
  position:relative;
  width:24%;
  text-shadow: 5px 5px black;
}

.category3 {
  display:inline-block;
  position:relative;
  width:24%;
  text-shadow: 5px 5px black;
}

 #rightAnswer, #wrongAnswer {
   padding: 5px;
   color: white;
   text-transform: uppercase;
   font-size: 14px;
   position: sticky;
   margin-top: 15px;
 }
 #rightAnswer {
  background-color: green;
  margin-right: 5px;
  border: none;
  box-shadow: 5px 10px 20px black;
  text-shadow: 1px 1px black;
  float: left;
  margin: 10px 10px;
 }
 #wrongAnswer {
  background-color: red;
  border: none;
  box-shadow: 5px 10px 20px black;
  text-shadow: 1px 1px black;
  float: right;
  margin: 10px 10px;
 }
.row {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
#fullscreen {
  background-color: black;
}
.card {
  font-size: 2.0em;
  background-color: transparent;
  width: 280px;
  height: 270px;
  border: 15px solid black;
  border-radius: 8px;
  font-family: font79357;
  font-weight: 600;
 }
.card:hover .row {
  transition-delay:0.5s;
  z-index: 100;
  font-family: font79357;
  transition-duration: 1s;
  transform: rotateY(180deg) scale(3);
  background-color: transparent;
  margin: 0 auto;
  width: 280px;
  height: 270px; 
  box-shadow: 2px 2px 20px black;
  border-radius: 4px;
 }
 
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: rgb(228, 194, 3);
}
 
.card-front {
  background-color: rgb(29, 67, 235);
  color: rgb(228, 194, 3);
}
 
.card-back {
  background-color: rgb(29, 67, 235);
  color: rgb(228, 194, 3);
  transform: rotateY(180deg);
  font-size: 20px;
}

main {
  font-family: font79357;
  font-size: 30px;
  width: 1350px;
  margin: 0 auto;
  text-align: center;
}

/* p #quest{
  color:rgba(red, rgba(0, 128, 0, 0), blue, alpha);
  font-size: 20pt;
}

#questClick{
  color:black;
} */

#overlay{
  font-family: 'gyparody';
  position: fixed;
  top: 0;
  left: -20px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 150px;
  color: black;
  background: rgb(29, 67, 235);
  color: rgb(228, 194, 3);
  text-shadow: 5px 5px black;
  transition: 2s;
}
/* #cardFull{
  transform:scale(2);
 top:0px;
 z-index: 50;
} */
.quest1{
  color: white;
}

.quest2{
  color: white;
}

.quest3{
  color: white;
}

fieldset {
  border: none;
}

footer {
  text-align: center;
  color: rgb(228, 194, 3);
  font-family: font79357;
}

input {
  width: 300px;
  height: 100px;
  border-radius: 4px;
  font-size: 24px;
  background-color: lightslategrey;
  border: 5px solid black;
  padding: 10px;
  box-shadow: 2px 2px 20px black;
}

#button{
  border: 5px solid black;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: rgb(228, 194, 3);
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.5s;
  box-shadow: 2px 2px 20px black;
}

#button:hover{
  background-color: darkslategrey;
  font-size: 20px;
  width: 110px;
  height: 110px;
  cursor: pointer;
}

::placeholder {
  color: black;

}

p {
  text-shadow: 2px 2px black;
}

.scoreRow{
  display:inline-block;
  height:50%;
  width:50%;
  padding: 5px;
}
#data{
  background-color: rgb(29, 67, 235);
  width:100%;
  height: 100%;
}

#namedata{
  display:inline-block;
  width:49%;
  height: 100%;
  background-color:rgb(29, 67, 235);
  color:white;
  font-size: 30pt;
}

#scoredata{
  display:inline-block;
  width:49%;
  height: 100%;
  background-color:rgb(29, 67, 235);
  color:white;
  font-size: 30pt;
}

.headingBox {
  /* font-size: 1em; */
  padding: 10px;
  /* vertical-align: middle; */
}

.card-front-header {
  background-color: rgb(29, 67, 235);
  color: rgb(228, 194, 3);
  height: 100px;
  width: 100%;
}

.categoryTop {
  font-size: 24px;
  height: 100%;
  border: 12px solid black;
  border-radius: 8px;
  font-family: font79357;
  font-weight: 600;
 }
