html {
  background: rgb(29, 67, 235);
}

body {
  font-family: font79357;
}

header {
  width: 100%;
  text-align: center;
}

nav{
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

#highScores, #aboutUs {
  font-family: font79357;
  text-align: center;
  color: rgb(228, 194, 3);
  font-size:  30px;
  padding: 30px;
}
   
.category1{
  display:inline-block;
  position:relative;
  width:21%;
}

.category2{
  display:inline-block;
  position:relative;
  width:21%;
}

.category3{
  display:inline-block;
  position:relative;
  width:21%;
}

.card {
  font-size: 2em;
  background-color: transparent;
  width: 300px;
  height: 250px;
  border: 2px solid black;
  font-family: font79357;
 }
 #rightAnswer, #wrongAnswer {
   padding: 5px;
   color: white;
   text-transform: uppercase;
   font-size: 14px;
 }
 #rightAnswer {
   background-color: green;
   margin-right: 5px;
   border: none;
 }
 #wrongAnswer {
   background-color: red;
   border: none;
 }
.row {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.card:hover .row {
  z-index: 100;
  font-size: 25%;
  font-family: font79357;
  transform: scale(1);
  transition-duration: 1s;
  transform: rotatey(180deg) scale(1.7);
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 2px solid black;
 }
 
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: rgb(228, 194, 3);
}
 
.card-front {
  background-color: rgb(29, 67, 235);
  color: rgb(228, 194, 3);
}
 
.card-back {
  background-color: rgb(29, 67, 235);
  color: rgb(228, 194, 3);
  transform: rotateY(180deg);
  font-size: 20px;
}

  main {
  font-family: font79357;
  font-size: 30px;
  width: 1350px;
  margin: 0 auto;
  text-align: center;
}

p #quest{
  color:rgba(red, rgba(0, 128, 0, 0), blue, alpha);
  font-size: 20pt;
}

#questClick{
  color:black;
}

#overlay{
  font-family: font79357;
  position: fixed;
  top: 0;
  left: -20px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 150px;
  color: black;
  background: rgb(29, 67, 235);
  color: rgb(228, 194, 3);
}

.cardFull{
  width:150%;
  height:50%;
  position: fixed;
}

.quest1{
  color: white;
}

.quest2{
  color: white;
}

.quest3{
  color: white;
}

fieldset {
  border: none;
}
footer {
  text-align: center;
  color: rgb(228, 194, 3);
  font-family: font79357;
}
input {
  width: 300px;
  height: 100px;
  font-size: 24px;
  background-color: lightslategrey;
  border: 5px solid black;
  padding: 10px;
}

#button{
  border: 5px solid black;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: rgb(228, 194, 3);
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 1s;
}

#button:hover{
  background-color: darkslategrey;
  font-size: 20px;
  width: 110px;
  height: 110px;
  cursor: pointer;
}

::placeholder{
  color: black;
}