html {
  background: rgb(29, 67, 235);
}
body {
  font-family: font79357;
}
#highScores, #aboutUs {
  font-family: font79357;
  text-align: center;
  color: rgb(228, 194, 3);
  font-size:  30px;
  margin-left: 350px;
  margin-right:40px;
}

#newid{
  transition: 3s;
  position: fixed;
  top: 0;
  left: -0px;
  width: 98%;
  height: 98%;
  color:rgba(0, 128, 0, 0); 
  margin-top: -50px;
  margin-left: 100px; 
  
}
   
.category1{
  display:inline-block;
  position:relative;
  width:300px;
}
.category2{
  display:inline-block;
  position:relative;
  width:300px;
}
.category3{
  display:inline-block;
  position:relative;
  width:300px;
}
.card {
  font-size: 2em;
  background-color: transparent;
  width: 300px;
  height: 250px;
  border: 2px solid white;
  font-family: font79357;
 }
 
.row {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card:hover .row {
  z-index: 100;
  font-size: 25%;
  font-family: font79357;
  transform: scale(1);
  transition-duration: 1s;
  transform: rotatey(180deg) scale(1.7);
  background-color: rgb(29, 67, 235);
  width: 300px;
  height: 200px;
  border: 2px solid white;
 }
 
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: rgb(228, 194, 3);
}
 
.card-front {
  background-color: rgb(29, 67, 235);
  color: rgb(228, 194, 3);
}
 

   .card-back {
     background-color: rgb(29, 67, 235);
     color: rgb(228, 194, 3);
     transform: rotateY(180deg);
   }
   main {
    font-family: font79357;
    font-size: 30px;
    width: 1350px;
    height: 650px;
    border: 1px solid black;
    margin-left: 50px;
    margin-top: 30px;
    text-align: center;

}
#newid{
  transform: rotatey(180deg) scale(4);
  color:rgba(0, 128, 0, 0);
  top:pageTop;
  left:pageLeft;
  -webkit-transition: 3s;
  transform: rotateY(180deg) scale(1);
  position: fixed;
  top: 0;
  left: -20px;
  width: 98%;
  height: 98%;
  /* margin-top: -50px;
  margin-left: 100px; */
  /* height: 55%; */

  transform: rotatey(180deg) scale(4);
  color:rgba(0, 128, 0, 0);
  top:pageTop;
  left:pageLeft;

 
  -webkit-transition: 3s;
  transform: rotateY(180deg) scale(1);
  position: fixed;
  top: 0;
  left: -20px;
  width: 98%;
  height: 98%;
  /* margin-top: -50px;
  margin-left: 100px; */
  /* height: 55%; */
}

p #quest{
  color:rgba(red, rgba(0, 128, 0, 0), blue, alpha);
  font-size: 20pt;
}
#questClick{
  color:black;
}

#overlay{
  font-family: font79357;
  position: fixed;
  top: 0;
  left: -20px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 150px;
  color: black;
  background-color: lightblue;
}
.cardFull{
  width:150%;
  height:50%;
  position: fixed;
}

.quest1{
  color: white;
}

.quest2{
  color: white;
}

.quest3{
  color: white;
}